<div class="jumbotron">
<div class="container sample center">
<h2><em>Welcome to the </em></h2>
<h1> BAUBLEBAR Forum</h1>

  <h3 class='italics'>To continue, please login or sign up as a new member.</h3>
  <br/>
<a class="btn btn-primary btn-lg mainbutton" href="/users/login">Login</a>
<a class="btn btn-primary btn-lg mainbutton" href="/users/new">Sign up</a>

</div>
</div>

