<div class="jumbotron">
<div class="container">
<img src="http://cdn.honestlywtf.com/wp-content/uploads/2013/05/baublebar2.jpg" />
<h1>Welcome to the BAUBLEBAR FORUM</h1>
  <h3 class='italics'>To continue, please login or sign up as a new member.</h3>
  <br/>
<a class="btn btn-primary btn-lg mainbutton" href="/users/login">Login</a>
<a class="btn btn-primary btn-lg mainbutton" href="/users/new">Sign up</a>


</div>
</div>
