<div class="jumbotron">
<div class="container sample">
<h1>Welcome to the 
	<br/>BAUBLEBAR 
	<br/>FORUM</h1>

  <h3 class='italics'>To continue, please login or sign up as a new member.</h3>
  <br/>
<a class="btn btn-primary btn-lg mainbutton" href="/users/login">Login</a>
<a class="btn btn-primary btn-lg mainbutton" href="/users/new">Sign up</a>

</div>
</div>

