<h1>Welcome to the BaubleBar Forum</h1>

<h3>To continue, please login or sign up as a new member.</h3>
	<button class="mainpage"><a href="users/login">Login</a></button>
	<button class="mainpage"><a href="users/new">Signup</a></button>
