<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Public Forum</title>
	<link rel="stylesheet" href="/app.css">
	<link href='https://fonts.googleapis.com/css?family=Lato|Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
	<%- body %>
	<script src="/app.js"></script>
</body>
</html>