<h2> <em> <%= currentUser%> </em>, welcome to the BaubleBar forum </h2>
<br/>
<h4><a href="/posts">Click here</a> to enter the main Forum page and see all the posts.</h4>
<h4><a href="/posts/new">Click here</a> to create a new topic. </h4>

<img src="http://cdn.honestlywtf.com/wp-content/uploads/2013/05/baublebar2.jpg" />
</p>