    <h1>Welcome to BaubleBar Forum </h1>
    <h2> A place for BaubleBar fans to discuss jewelry and vote on which products to bring back! <h2>

<div class="login half">
  <h4>If you are an existing user, please login</h4>
  <p>
    Login
  </p>
  <p>
    Password
  </p>
  <button type="button" name="button" id="login-button">Login</button>
</div>

<div class="signup half">
  <h4>If you are a new user, please sign up</h4>
  <p>
    Create username
  </p>
  <p>
    Create password
  </p>
    <button type="button" name="button" id="signup-button">Login</button>
</div>
<h3>