<h2> <%= currentUser%>, welcome to the forum   </h2>

<h4><a href="/posts/new">Click here</a> to create a new topic. </h4>
<h4><a href="/users/<%=currentUser%>">Click here</a> to see all of your posts.</h4>
<img src="http://cdn.honestlywtf.com/wp-content/uploads/2013/05/baublebar2.jpg" />
</p>