<div class=center>

	<h1 id="welcome-name"> <em> <%= currentUser%></em>, </h1>
	<h2>welcome to the BaubleBar Forum </h2>

	<h4><a href="/posts">Click here</a> to see all posts on the main page.</h4>
	<h4><a href="/posts/new">Click here</a> to create a new topic. </h4>

</div>
<img id="welcome-pic" src="images/baublebar2.jpg" />
</p>