body {
	background-color: floralwhite;
}

h1, h3, h4, h5, form {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
}

h2, .italics {
	font-family: Garamond, serif;
	padding-left: 20px
}

h1#welcome-name {
	font: 60px;
	font-family: Garamond, serif;
}

h1{
	padding-top: 10px;
	font-size: 40px;
}

.homepage {
	background-image: url("images/baublebar-bg.jpg");
}

.whitetext {
	color: white;
	text-shadow: 1px 1px black;

}
.center {
	text-align: center;
}

label {
	padding: 5px;
}

.needs-padding-left {
	padding-left: 20px;
}

.mainbutton {
	background-color:indigo;
	color:white;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}

#welcome-pic {
	max-width: 100%;
	margin: 0px;
}

.post {
	border: 2px solid grey;
	width: 60%;
	margin-left: 20px;
	margin-top: 15px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.post-topic-top {
	background-color: black;
	color: white;
	border: 1px solid white;
	padding-left:0px;
}

.comment {
	border: 1px dotted skyblue;
	background-color: grey;
	display:inline-block;
}

input[type=submit] {
	background-color: magenta;
	color: white;
	border: 4px;
	border-radius: 5px;
}

