/*------All Page Styles-------------*/

body {
	background-color: floralwhite;
}

/*----Styles for Header-------------*/

h1, h3, h4, h5, form {
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
}

h1{
	padding-top: 10px;
	font-size: 40px;
}

h1#welcome-name {
	font: 60px;
	font-family: Garamond, serif;
}

h2, .italics {
	font-family: Garamond, serif;
	padding-left: 20px
}

/*-----Image Styles-----------------*/

.homepage {
	background-image: url("images/baublebar-bg.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}


#welcome-pic {
	max-width: 100%;
	margin: 0px;
}

/*----Text Styles-------------------*/
.whitetext {
	color: white;
	text-shadow: 1px 1px black;
}

.center {
	text-align: center;
}

.needs-padding-left {
	padding-left: 20px;
}

/*---Button/Input/Form Styles------*/

.mainbutton {
	background-color:teal;
	color:white;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}

.editbutton {
	background-color:seagreen;
	color:white;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}

input[type=submit] {
	background-color: magenta;
	color: white;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

label {
	padding: 5px;
}

.want-inline {
	display: inline-block;
}


/*----Styling for posts---------*/

.post {
	border: 2px solid grey;
	width: 60%;
	margin-left: 20px;
	margin-top: 15px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: cornsilk;
}

div.post-topic-top {
	background-color: black;
	color: white;
	border: 1px solid white;
	padding-left:0px;
}

.comment {
	border: 4px solid white;
	border-radius: 8px;
	background-color: lightgoldenrodyellow;
	padding: 10px;
	width: 50%;
	margin-left: 40px;
}

.right {
	text-align: right;
}

