<div class="center">
<h1>Welcome to BaubleBar Forum </h1>
  <h2> It's time for Happy Hour at BaubleBar </h2>

  <h3 class="italics"><em>Get ready to join a like-minded community of BaubleBar "bartenders" <br/>and show off your latest finds, give styling advice and even get to<br/>vote on which products to bring back! </em></h3>

<br/>
<div class="signup half">
  <h4>Join us! Enter a username and password below.</h4>
  <form id="signup-form" action="/users" method="post">
      <input type="text" name="user[username]" placeholder="Create a username">
      <input type="password" name="user[password]" placeholder="Enter a password">
      <input type="submit" value="Signup">
  </form>
</div>
<br/>
<a class="needs-padding-left" href="/session/login">If you are an existing user, please click here</a>
</div>