<h1> Welcome to this forum  </h1>

<p>  <%= myCurrentUser%>

<h4><a href="/views/posts/new">Click here</a> to create a new topic or comment on a post.
<h4><a href="/views/users/<%=user.user_id%>">Click here</a> to see all of your posts.

</p>