<div class="jumbotron">
  <h1>Welcome to the BAUBLEBAR FORUM</h1>
  <p>To continue, please login or sign up as a new member.</p>
  <p><a class="btn btn-primary btn-lg mainbutton" href="/views/users/login.ejs">Login</a></p>
  <p><a class="btn btn-primary btn-lg mainbutton" href="/views/users/new.ejs">Sign up</a></p>

</div>

