<div class="needs-padding-left">
<h3>Comment on this topic: </h3>
<%= post.topic %>

<form action="/posts" method="post">

    <label>Comment</label>
    <textarea   name="post[comment]" 
                rows="8" cols="40">
    </textarea>
    <br/>
    <input type="button" name="submit" value="submit">
</form>

</div>