<div class="needs-padding-left">
	<h3>Comment on this topic, <%=req.sessions.currentUser %> </h3>	

	<form action="posts/<%=post._id %>/comment" method="post">
	<br/>
    	<textarea   name="post[comment]" 
            		rows="8" cols="40">
    	</textarea>
    <br/>
   
    <input type="submit" value="submit">

	</form>

</div>