<div class="needs-padding-left">
	<h3>Comment on this topic: </h3>	

	<form action="/posts" method="post">
	<br/>
    	<textarea   name="post[comment]" 
            		rows="8" cols="40">
    	</textarea>
    <br/>
   
    <input type="button" name="submit" value="submit">

	</form>

</div>