<div class="needs-padding-left">
<h3>Edit Your Post</h3>

<form action="/posts/<%= post._id %>?_method=PATCH" method="post">

    <label>Post Title</label>
    <br/>
    <input  type="text"
            name="post[topic]"
            value= "<%=post.topic%>"
    <br/>
    <br/>
    <label>
        Your Nickname</label>
    <br/>
    <input  type="text"
            name="post[author]"
            value = "<%=post.author%>"
    <br/>
    <br/>
    <label>Write your post below</label>
    <br/>
    <textarea   name="post[body]" 
                rows="8" cols="40"> <%=post.body%></textarea>
    <br/>
    <input type="button" name="submit" value="submit">

</form>
</div>