<h1> Here will be all the posts, God willing </h1>

<% posts.forEach(function(post, i) { %>}
	<div class="post">
		<h4> <%= post.topic %> </h4>
		<h5> by <%= post.author %> </h5>
		<p> <%= post.body %> </p>
	</div>
<% }) %>