<h3> Here will be all the posts, God willing </h3>

<% posts.forEach(function(post, i) {  %>}
<div class="post">
		<h4> <%= post.topic %> </h4>
		<h5> <%= post.author %> </h5>
		<p> <%= post.body %> </p>
</div>
<% }) %>