<h3>Post about jewelry</h3>
<form action="/posts" method="post">
    <input  type="text"
            name="post[author]"
            placeholder="post's author name">
    <input  type="text"
            name="post[title]"
            placeholder="post title">
    <label>Write your post here</label>
    <textarea name="post[body]" rows="8" cols="40">
    </textarea>
</form>
